html,body,div,ul,li,svg{
    margin:0;
    padding:0;
    list-style:none;
}

/*------------Global-------------*/
html,body{
    height: 100%;
    position: relative;

}

.container{
    height:100%;
}
.container .section{
    width:100%;
}
.container .canvas {
    width:100%;
    background:white;
    height:450px;
}
.container .canvas-2{
    width:100%;
    background:white;
    height:1000px;
}

.container .controls{
    margin-bottom:20px;
}
path {

}

#plot2 {
    width:100%;
    padding-right:10px;
    height:1000px;
    float:left;
    padding-top:-40px
}

.main-graph{
    position: relative;
    margin-top: 20px
}

/*------------font-------------*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h1{font-family: "Georgia",sans-serif;font-size:3em; font-weight: 500; text-align:center;color:#333}
h2{font-family: "Georgia",sans-serif;margin-top:40px}
h3{font-family: "Georgia",sans-serif;margin-top:40px}
p{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#333;
}
.intro {
    color: #666;
    text-align:center;
}

.author {
    font-weight: bold;
    color:#333;
}
.introduction {
    font-size:16px;
    line-height: 1.5em;
}
/*------------svg--------------*/
.axis .domain{
    fill:none
}
.axis .tick line{
    fill:none;
    stroke:#999;
    stroke-width:0.5px;
}
.axis .tick text{
    fill:#999;
    font-size:12px;
    font-weight:600;
}

/*-----------tooltip-----------*/
.canvas .custom-tooltip, .canvas .custom-tooltip2 {
    position:absolute;
    border:1px solid #fff;
    width:300px;
    min-height:10px;
    padding:10px 12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 -3px 7px rgba(0, 0, 0, 0.1);
    font-size:12px;
    fill: #666666 !important;
}

.numberSP {
    font-weight:bold;
    font-size:18px !important;
}
.numberSP #total{
    fill: #666666 !important;
}

.total p, .continent p,  {
    fill: #666666 !important;
    font-size:14px !important;
}

.legend, #date {
    margin-top:10px;
    fill: #999999 !important;
    color: #999999;
    font-size:14px;
}

#legend1 svg, #legend2 svg {
    height:40px;
}

.slicesNames {
    font-size:13px;
    text-anchor:middle;
}
.title {
    fill: #333 !important;
    font-weight:bold;
    text-anchor:middle;
    font-size:24px !important;
}

#explanationSunburst {
    position: absolute;
    top: 36.5%;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: #666;
    font-size:18px;
}
#total2 {
    color: #666;
    font-size:18px;
}

#where, #totalWhere{
    font-weight:800;
    font-size:18px !important;
    color: #333;
}
#percentage {
    font-weight:900;
    font-size:18px;
    color:#333

}
#yearVariation, #variation {
    font-weight:300;
    font-size:13px;
}

#notes{
    position:absolute;
    width:300px;
    min-height:10px;
    padding:10px 12px;
    font-size:14px;
    fill: #333 !important;
    font-weight:500;
}